<div class="pageContent">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>留言内容：</label>
                <textarea name="sign_declaration" readonly cols="58" rows="11">{$content}</textarea>
            </div>
        </div>
        <div class="formBar">
            <ul>
<!--                 <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li> -->
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
</div>

