<div class="unit">
    <label>收款公众号appid：</label>
    <input type="text" name="pay_appid" size="20" maxlength="40" class="required" />
</div>
<div class="unit">
    <label>收款商户号：</label>
    <input type="text" name="pay_mchid" size="20" maxlength="40" class="required" />
</div>
<div class="unit">
    <label>收款密钥：</label>
    <input type="text" name="pay_key" size="20" maxlength="40" class="required" />
</div>
<div class="unit">
    <label>收款公众号secret：</label>
    <input type="text" name="pay_appsecret" size="20" maxlength="40" class="required" />
</div>
