<form id="pagerForm" method="post" action="{:url('Carousel/index')}">
    <input type="hidden" name="title" value="{$title}" />
    <input type="hidden" name="pageNum" value="{$page_num}" />
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="{:url('Carousel/index')}" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        标题名称：<input type="text" name="title" value="{$title}"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">

            <li><a rel="cr_manage_add" class="add" href="{:url('Carousel/add')}" target="dialog" width="850" height="500" title="添加轮播"><span>添加</span></a></li>

            <li><a rel="cr_manage_modify" class="edit" href="{:url('Carousel/modify')}?id={id}" target="dialog" width="850" height="500" title="修改轮播"><span>修改</span></a></li>

            <li><a class="delete" href="{:url('Carousel/doDelete')}?id={id}" target="ajaxTodo" title="确定要删除吗？"><span>删除</span></a></li>


        </ul>
    </div>
    <table class="table" width="100%" layoutH="137">
        <thead>
        <tr>
            <th width="125">标题</th>
            <th width="150">轮播图</th>
            <th width="125">是否首页展示</th>
            <th width="125">排序</th>
            <th width="125">创建时间</th>
            <th width="125">更新时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr target="id" rel="{$vo.id}">
            <td>{$vo.title}</td>
            <td><a onclick="$(this).colorbox({height: 600});return false;" href="{$Think.config.image_url}/{$vo.image}">查看图片</a></td>
            <td>{$vo.is_homeshow|get_homeshow_name}</td>
            <td>{$vo.sort}</td>
            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
            <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>共{$count}条</span>
        </div>
        <div class="pagination" targetType="adTab" totalCount="{$count}" numPerPage="{$num_per_page}" pageNumShown="10" currentPage="{$page_num}"></div>
    </div>
</div>
