<div class="pageContent">
    <form method="post" action="{:url('Gift/doModify')}" class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>角色名：</label>
                <input type="text" name="gift_name" size="20" maxlength="20" class="required" value="{$gift_name}" />
            </div>
            <div class="unit">
                <label>礼物价值：</label>
                <input type="text" name="gift_value" size="20" maxlength="20" class="required number" value="{$gift_value}" />
            </div>
            <div class="unit">
                <label>礼物图片：</label>
                {:widget('Upload/image', ['gift_image', $gift_image])}
            </div>
            <div class="unit">
                <label>可兑换数：</label>
                <input type="text" name="vote_num" size="7" maxlength="9" class="required digits" value="{$vote_num}"/>
            </div>
            <div class="unit">
                <label>排序：</label>
                <input type="text" name="sort" size="3" maxlength="3" class="required" value="{$sort}" />
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
        <input type="hidden" name="id" value="{$id}" />
    </form>
</div>

