<form id="pagerForm" method="post" action="{:url('Gift/index')}">
    <input type="hidden" name="name" value="{$name}" />
    <input type="hidden" name="pageNum" value="{$page_num}" />
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="{:url('Gift/index')}" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        奖品名称：<input type="text" name="name" value="{$name}"/>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a rel="gitfladd" class="add" href="{:url('Gift/add')}" target="dialog" width="850" height="500" title="添加标签"><span>添加</span></a></li>
            <li><a rel="gitf_modify" class="edit" href="{:url('Gift/modify')}?id={id}" target="dialog" width="850" height="500" title="修改标签"><span>修改</span></a></li>
            <li><a class="delete" href="{:url('Gift/doDelete')}?id={id}" target="ajaxTodo" title="确定要删除吗？"><span>删除</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="110">
        <thead>
        <tr>
            <th width="125">奖品名称</th>
            <th width="150">奖品分类</th>
            <th width="150">奖品原始图</th>
            <th width="150">排序</th>
            <th width="125">创建日期</th>
            <th width="125">修改日期</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr target="id" rel="{$vo.id}">
            <td>{$vo.name}</td>
            <td>{$vo.type_name}</td>
            <td><a onclick="$(this).colorbox({height: 600});return false;" href="{$Think.config.image_url}/{$vo.image}">查看图片</a></td>
            <td>{$vo.sort}</td>
            <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
            <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>共{$count}条</span>
        </div>
        <div class="pagination" targetType="adTab" totalCount="{$count}" numPerPage="{$num_per_page}" pageNumShown="10" currentPage="{$page_num}"></div>
    </div>
</div>
